@font-face {
    font-family: "noto";
    src: local("noto"),
    url("./NotoSans-Regular.ttf") format("truetype");
    font-weight: bold;
}

.to-be-continued {
    font-family: "noto";
    font-size: 40px;
    font-weight: 700;
    z-index: 1;
    color: #3d3d3d;
}
